<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add Cartype</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	
      <form action="#" th:action="@{addCarSubmit}" th:object="${cartype}" method="post">
    
        <fieldset>
          
          <legend th:text="#{car.data}">Cartype Data</legend>

          <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>

          
          <div>
            <label for="make">
              <span th:text="#{car.make}">Make</span>
            </label>
            <input id="make" type="text" th:field="*{model.fabrikat}" th:errorclass="fieldError" />
          </div>
          <div>
            <label for="modell" th:text="#{car.model}">Model</label>
            <input id="modell" type="text" th:field="*{model.modell}" th:errorclass="fieldError" />
          </div>
           <div>
            <label for="ps" th:text="#{car.hp}">Model</label>
            <input type="text" th:field="*{ps}" th:errorclass="fieldError" />
          </div>
           <div>
            <label for="maxKmH" th:text="#{car.maxkmh}">Model</label>
            <input type="text" th:field="*{maxKmH}" th:errorclass="fieldError" />
          </div>
          
          <div class="submit">
            <button type="submit" name="save" th:text="#{cartype.create}">Add CarType</button>    
          </div>
        
        </fieldset>
          
      </form>
	

</body>

</html>
