<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Thymes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div class="cartypelist" th:unless="${#lists.isEmpty(allCartypes)}">

    <h2 th:text="#{title.list}">List of Cartypes in Pool</h2>


    <table style="border: 1px solid black">
        <thead>
        <tr style="border: 1px solid black">
            <th th:text="#{car.make}">Make</th>
            <th th:text="#{car.model}">Model</th>
            <th th:text="#{car.hp}">HP</th>
            <th th:text="#{car.maxkmh}">MaxKmH</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${allCartypes}" style="border: 1px solid black">
            <td th:text="${car.model.fabrikat}" style="border: 1px solid black">VW</td>
            <td th:text="${car.model.modell}">Golf</td>
            <td th:text="${car.ps}">120</td>
            <td th:text="${car.maxKmH}">yes</td>

        </tr>
        <tr>

            <td th:span="4" align="center">
                <a href="product/list.html" th:href="@{add}">Add</a>
            </td>

        </tr>
        </tbody>
    </table>

</div>


</body>

</html>
